# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Données
data/**/*.csv
data/**/*.npz
data/**/*.zip
!data/**/.gitkeep

# Docker / K8s
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Secrets EDC / configs sensibles
*.env
edc/**/*secrets*